@import './fonts/proxima-nova.css';
@import '../follow_and_share/style/MailChimpEmailSignup.css';
@import '../follow_and_share/style/ShareButtons.css';

body {
  font-family: 'Proxima Nova';
  font-weight: 400;

  .contentWrapper {
    margin-top: 60px;
  }

  .navbar-static-top {
    .container {
      // sidebar screws this up...
      width: 100%;
    }
  }
}

.mainContent {
  color: #424242;
  font-size: 16px;
  line-height: 1.7em;
  letter-spacing: 0px;
  font-style: normal;
  border-color: #b6b6b6;
  margin-bottom: 20px;

  &.well {
    background-image: none;
  }

  h2, p, img, iframe {
    margin-bottom: 28px !important;
  }
  a {
    text-decoration: underline;
  }
  img, iframe {
    display: block;
    margin: auto;
    width: 100%;
  }
  pre {
    margin: 28px 0;
  }
  code {
    font-family: monospace,monospace;
    font-size: 100%;
    background-color: inherit;
    color: inherit;
  }
  blockquote {
    font-style: italic;
    border-left: inherit;
  }
  h1, h2 {
    color: #212121;
    font-weight: 700;
  }
  h1 {
    font-size: 27px;
    text-align: center;
  }
  h2 {
    font-size: 22px;

    &.date {
      font-size: 16px;
      font-weight: 100;
      text-align: center;
      font-style: italic;
    }
  }
}
.panelLink {
  &:hover {
    text-decoration: none;
  }
}

.panel {
  .mainContent {
    margin-bottom: 0;
    font-size: 18px;

    :last-child {
      margin-bottom: 0 !important;
    }
  }

  .panel-heading {
    background-color: #f5f5f5;
    background-image: none !important;

    h1 {
      font-size: 27px;
      margin: 5px 0px;
    }
    h2.date {
      margin: 10px 0px;
      font-size: 16px;
      font-weight: 100;
      font-style: italic;
    }
  }

  &:hover {
    background-color: #f4f4f4;

    .panel-heading {
      background-color: #e3e3e3;
    }
  }
}

.navbar-brand.leaveLeftSpace {
  margin-left: 30px;
}

.showSidebar {
  position: absolute;
  top: 14px;
  left: 15px;
  color: #777;
  font-size: 18px;
}

.sidebar {
  position: fixed;
  z-index: 1000000;
  height: 100vh;
  background: #f8f8f8;
  border: 1px #e8e8e8 solid;

  &.show {
    left: 0px;
  }

  left: -250px;
  transition: 0.5s;

  .sidebarHeader {
    padding: 10px;
    background-color: #e8e8e8;

    h3 {
      margin: 0;
    }
  }

  li a {
    overflow: hidden;

    &:hover, &:focus {
      background-image: none;
    }

    &.open {
      background-color: inherit;
    }
  }
  ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }

  ul.dropdown-menu {
    position: relative;
    background-color: inherit;
    border: none;
    box-shadow: none;
  }

  ul li.active > a, a[aria-expanded="true"] {
    background-color: inherit;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px; // overriding a weird -15px from bootstrap :/
  }
}
